* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
}

#speaker {
  z-index: 10000;
  position: absolute;
  width: 30px;
  top: 1vw;
  left: 2vw;
}

.letterbox-show {
  transform: translateY(0);
}

.loadingScreen {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #111111;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingScreen__spinner {
  width: 17vw;
}

.menuBackground {
  z-index: 5000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1s ease-in-out;
}
.menuBackground__bg {
  width: 100%;
  height: 100%;
}

.titleScreen {
  filter: brightness(0);
  z-index: 6000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: filter 5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleScreen__logo {
  position: absolute;
  width: 40vw;
}
.titleScreen__logo__animation {
  animation-name: logoSmallBig;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#nameerror {
  text-decoration: bold;
  color: yellow;
  margin-bottom: 20px;
}

.rangeSelect {
  z-index: 6000;
  position: absolute;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-2000px);
  transition: all 1s ease-in-out;
  color: white;
}
.rangeSelect__div {
  background-color: #1d2939;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 40%;
  padding: 30px;
  text-align: center;
}
.rangeSelect__info {
  height: 40%;
  font-size: 16px;
  margin-bottom: 20px;
}
.rangeSelect__form {
  margin-bottom: 20px;
}

#rangeStart {
  padding: 10px 20px;
  background-color: white;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  border-radius: 20px;
  border: none;
}

#gotorange {
  padding: 10px 20px;
  background-color: white;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  border-radius: 20px;
  border: none;
}

.finalScore {
  z-index: 6000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  transform: translateY(-2000px);
  transition: all 2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#finalscore-score {
  width: 80%;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.finalScore__box {
  width: 50%;
  height: 50%;
  background-color: #32445a;
  color: white;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#leaderboardnext {
  margin-top: 20px;
}

.leaderboard {
  z-index: 6000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  transform: translateY(-2000px);
  transition: all 2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.leaderboard__info {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  font-size: 20px;
  text-align: center;
}

.leaderboardplayer {
  margin: 10px 0 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: 20% 40% 40%;
  background-color: #1d2939;
  border-radius: 5px;
  font-size: 16px;
}

.speaker {
  opacity: 0.5;
  position: absolute;
  width: 3vw;
  z-index: 2000;
  left: 1.3vw;
  top: 1vh;
}

.speaker:hover {
  filter: brightness(80%);
  cursor: pointer;
}

@keyframes logoSmallBig {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.entername {
  z-index: 6000;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-2000px);
  transition: all 2s ease-in-out;
}
.entername__box {
  background-color: #32445a;
  width: 40%;
  height: 30%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  box-shadow: 0 1rem 1rem rgba(black, 0.3);
}
.entername__logo {
  width: 30vw;
  margin-bottom: 60px;
}
.entername p {
  text-align: center;
  color: white;
  font-size: 14px;
}

#gotorange {
  margin-top: 20px;
}

.gameScreen {
  display: none;
  opacity: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.gameScreen__video {
  position: relative;
  width: 100%;
}

.pokemon {
  opacity: 1;
  position: absolute;
  width: 30vw;
  z-index: 100;
  left: 12vw;
  top: 9vh;
  filter: contrast(0) sepia(100%) hue-rotate(185deg) saturate(700%)
    brightness(60%);
}
.pokemon__shadow {
  position: absolute;
  width: 30vw;
  z-index: 90;
  left: 11vw;
  top: 10vh;
  opacity: 0.6;
  filter: contrast(0) sepia(100%) hue-rotate(185deg) saturate(700%)
    brightness(60%);
  transition: all 0.7;
}

.pokemon__show {
  transform: scale(100%);
  filter: none;
  transition: none;
}

.logo {
  position: absolute;
  width: 45vw;
  z-index: 50;
  right: 4vw;
  bottom: 6vw;
}
.logo__shadow {
  position: absolute;
  width: 45vw;
  z-index: 44;
  right: 5vw;
  bottom: 5vw;
  filter: brightness(0%);
  opacity: 0.4;
}

.logo__mark {
  position: absolute;
  width: 13vw;
  z-index: 50;
  right: 16vw;
  top: 6vw;
}
.logo__mark__shadow {
  width: 13vw;
  z-index: 44;
  position: absolute;
  right: 17vw;
  top: 6vw;
  filter: brightness(0%);
  opacity: 0.4;
}

.letter-container {
  position: absolute;
  width: 100vw;
  z-index: 4000;
  padding-top: 0.1rem;
  bottom: 15px;
  padding: 10px;
  transform: translateY(500px);
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.letter-container__letter {
  width: 4vw;
  height: 4%;
  opacity: 0;
}

#mobile-press {
  display: none;
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  color: transparent;
  font-size: 100px;
  outline: none;
  border: none;
  width: 100vw;
  height: 100%;
}

#scoreField {
  position: absolute;
  top: -1000px;
}

@media only screen and (max-width: 900px) {
  .loadingScreen__spinner {
    width: 40vw;
  }
  .titleScreen__logo {
    position: absolute;
    width: 80vw;
  }
  .entername__box {
    width: 80%;
    height: 30%;
  }
  .entername__logo {
    width: 50vw;
    margin-bottom: 60px;
  }
  .rangeSelect__div {
    width: 80%;
    height: 50%;
  }
  .pokemon {
    left: 12vw;
    top: 4vh;
  }
  .pokemon__shadow {
    left: 11vw;
    top: 5vh;
  }
  .finalScore__box {
    width: 80%;
    height: 50%;
  }
}
